.descriptionTrip > * {
  //background-color: #a4a9b5;
  display: flex;
  justify-content: center;
}

.imageDescriptionTrip {
  width: 10rem;
}

.contentDescriptionTrip {
  text-align: center;
}
.titleDescription{
  font-weight: 700;
  display: flex;
  justify-content: center;
}